*.asv
doc/~$lazione Esercitazioni Sensori.docx
*.tmp
*.rst
esercitazione_c/esercizio_1/db
esercitazione_c/esercizio_1/processing
esercitazione_c/esercizio_1/templates
esercitazione_c/esercizio_1/matching
esercitazione_c/esercizio_2/db
esercitazione_c/esercizio_2/processing
esercitazione_c/esercizio_2/templates
esercitazione_c/esercizio_2/matching
