- "fr = 40e3;  a = 1.5e4;  b = 1.8*fr;"
- "N_des = 12000;"
- "[p,q] = rat((fr - a)/(b - a), 1e-12);"
- "k = round((N_des-1)/q);"
- "N = q*k + 1;"
- "f = linspace(a, b, N);"
- "omega = 2*pi .* f;"
- "z_L1 = 400;"
- "z_L2 = z_L1;"
- "z_c = rho * v"
- "keyMap = caricaStrutturaProprietaMateriali();"
- "selezioneMateriale = obj.App.TabController.getTab('MaterialiTab').getComponent('MenuStrati').Value"
- "props = keyMap(string(selezioneMateriale));"
- "v_l = props(1); rho_l = props(2); z_l = props(3);"
- "a = ( v_l / (2*pi*fr) ) * atan( ( z_c/ z_l ) * ( 1 / tan( (2*pi*fr*(l/2)) / v ) ) );"
- "L1 = a;"
- "L2 = L1;"
- "k_l = omega/v_l;"
- "S_l = areaFaccia;"
- "Y_l = (v_l^2) * rho_l;"
- "M1 = calcolaMatriceMFormulazioneAlternativa(k_l, S_l, Y_l, omega, L1);"
- "M2 = calcolaMatriceMFormulazioneAlternativa(k_l, S_l, Y_l, omega, L2);"
- "selezioneMateriale = obj.App.TabController.getTab('MaterialiTab').getComponent('MenuConcentratore').Value"
- "props = keyMap(string(selezioneMateriale));"
- "v_t = props(1); rho_t = props(2); z_t = props(3);"
- "lambda_t = v_t/fr;"
- "L3 = lambda_t/4;"
- "L4 = L3;"
- "k_t = omega/v_t;"
- "S_t3 = areaFaccia;"
- "Mp = obj.App.TabController.getTab('MaterialiTab').getComponent('CampoGuadagno').Value;"
- "N = sqrt(Mp);"
- "S_t4 = S_t3/(N^2);"
- "Y_t = (v_t^2) * rho_t;"
- "M3 = calcolaMatriceMFormulazioneAlternativa(k_t, S_t3, Y_t, omega, L3);"
- "M4 = calcolaMatriceMFormulazioneAlternativa(k_t, S_t4, Y_t, omega, L4);"
- "Z_L1 = z_L1 * S_l;"
- "Z_L2 = z_L2 * S_t4;"
- "ZoD  = z_c  * areaFaccia;"
- "Zin_M4    = M4{1,1} - (M4{1,2}.^2) ./ (Z_L2   + M4{1,1});"
- "Zin_M3    = M3{1,1} - (M3{1,2}.^2) ./ (Zin_M4 + M3{1,1});"
- "numberOfCeramicPairs = 1;"
- "new_l_c = l / (2 ^ numberOfCeramicPairs);"
- "new_C0 = (2 ^ numberOfCeramicPairs) * C0;"
- "A_couple = calcolaMatriceA(ZoD, omega, v, new_l_c, h33, new_C0);"
- "G = calcolaMatriceG(A_couple, A_couple);"
- "FTT_M4 = ( M4{1,2} .* Z_L2   ) ./ ( M4{1,1}.*Z_L2   + M4{1,1}.^2 - M4{1,2}.^2);"
- "FTT_M3 = ( M3{1,2} .* Zin_M4 ) ./ ( M3{1,1}.*Zin_M4 + M3{1,1}.^2 - M3{1,2}.^2);"
- "f_iter = 0;"
- "a_corrected = L1;"
- "while(f_iter < fr); a_corrected = a_corrected - 1e-06; M1_iter = calcolaMatriceMFormulazioneAlternativa(k_l, S_l, Y_l, omega, a_corrected); M2_iter = calcolaMatriceMFormulazioneAlternativa(k_l, S_l, Y_l, omega, a_corrected); Zeq_left_iter = M1_iter{1,1} - (M1_iter{1,2}.^2) ./ (Z_L1   + M1_iter{1,1}); Zeq_right_iter = M2_iter{1,1} - (M2_iter{1,2}.^2) ./ ((z_L2*S_l) + M2_iter{1,1}); B_couple_iter = calcolaMatriceB(G, Zeq_left_iter); [Zin_iter, FTT_pzt_iter, ~] = calcolaFunzioniDiTrasferimento(B_couple_iter, Zeq_right_iter, Zeq_left_iter); FTT_pzt_iter = db2mag(FTT_pzt_iter{1}) .* exp(1j*deg2rad(FTT_pzt_iter{2})); FTT_M2_iter = ( M2_iter{1,2} .* (z_L2*S_l) ) ./ ( M2_iter{1,1}.*(z_L2*S_l) + M2_iter{1,1}.^2 - M2_iter{1,2}.^2); FTT_iter = FTT_pzt_iter .* FTT_M2_iter; [moduloFTT_iter, faseFTT_iter] = calcolaModuloEFase(FTT_iter, true, true); FTT_iter = {moduloFTT_iter, faseFTT_iter}; [~, index] = max(FTT_iter{1}); f_iter = f(index); end"
- "Zeq_right = M2_iter{1,1} - (M2_iter{1,2}.^2) ./ (Zin_M3 + M2_iter{1,1});"
- "B_couple = calcolaMatriceB(G, Zeq_left_iter);"
- "[Zin, FTT_pzt, ~] = calcolaFunzioniDiTrasferimento(B_couple, Zeq_right, Zeq_left_iter);"
- "FTT_pzt = db2mag(FTT_pzt{1}) .* exp(1j*deg2rad(FTT_pzt{2}));"
- "FTT_M2 = ( M2_iter{1,2} .* Zin_M3 ) ./ ( M2_iter{1,1}.*Zin_M3 + M2_iter{1,1}.^2 - M2_iter{1,2}.^2);"
- "FTT = FTT_pzt .* FTT_M2 .* FTT_M3 .* FTT_M4;"
- "[moduloFTT, faseFTT] = calcolaModuloEFase(FTT, true, true);"
- "FTT = {moduloFTT, faseFTT};"