- "m = obj.App.TabController.getTab('CeramicsTab').getComponent('CampoMassa').Value;"
- "flow = obj.App.TabController.getTab('FlowTab').getComponent('CampoFlow').Value;"
- "Zi_flow = obj.App.TabController.getTab('FlowTab').getComponent('CampoZiFlow').Value;"
- "csv = obj.App.Modello.CSVFile;"
- "if ((isnumeric(csv) && isscalar(csv) && csv == -1) || isempty(csv)); obj.App.showError('Nessun file CSV selezionato'); return; end"
- "f = csv.f';"
- "Zin = {csv.moduloZin', csv.faseZin'};"
- "C0 = obj.App.TabController.getTab('ParametriTab').getComponent('CampoC0').Value * 1e-12;"
- "R1 = obj.App.TabController.getTab('ParametriTab').getComponent('CampoR1').Value;"
- "L1 = obj.App.TabController.getTab('ParametriTab').getComponent('CampoL1').Value * 1e-6;"
- "C1 = obj.App.TabController.getTab('ParametriTab').getComponent('CampoC1').Value * 1e-12;"
- "w  = 2*pi*f(:);"
- "Zs = R1 + (1i*w.*L1) + (1./(1i*w.*C1));"
- "Zin_ceq = (Zs) ./ (1 + 1i*w.*C0.*Zs);"
- "[moduloZin_ceq, faseZin_ceq] = calcolaModuloEFase(Zin_ceq, false, true);"
- "Zin_ceq = {moduloZin_ceq, faseZin_ceq};"
# grafici
- "V = areaFaccia * l;"
- "[~, index_min] = min(Zin{1});"
- "[~, index_max] = max(Zin{1});"
- "fmin = f(1,index_min);"
- "fmax = f(1,index_max);"
- "Keff2 = ((fmax^2) - (fmin^2))/(fmax^2);"
- "omegalow = 2 * pi * flow;"
- "thetas = (fmin * pi)/fmax;"
- "C0 = ( 1 / (omegalow * Zi_flow) ) * ( (tan(thetas/2)-(thetas/2)) / (tan(thetas/2)) );"
- "beta33 = areaFaccia/(C0 * l);"
- "rho = m / V;"
- "c33 = 4 * (fmax^2) * (l^2) * rho;"
- "h33 = sqrt( (c33 * beta33 * (thetas/2)) / (tan(thetas/2)) );"
- "e33 = h33 / beta33;"
- "proprietaMisurate = [rho, c33, h33, e33];"
- "strutturaProprietaPzt = caricaStrutturaProprietaPzt();"
- "r = size(strutturaProprietaPzt, 1);"
- "M = vertcat(strutturaProprietaPzt{:,2});"
- "p = proprietaMisurate;"
- "tol = 1e-12;"
- "sigma = std(M, 0, 1);"
- "mask  = sigma > tol;"
- "Delta = (M(:, mask) - p(mask)) ./ sigma(mask);"
- "distanzaEuclidea = vecnorm(Delta, 2, 2);"
- "strutturaProprietaPzt(:, 3) = num2cell(distanzaEuclidea);"
- "strutturaProprietaPzt = sortrows(strutturaProprietaPzt, 3, 'ascend');"
- "topN = min(4, r);"
- "idx  = 1:topN;"
- "nomi = vertcat(strutturaProprietaPzt{idx, 1});"
- "dist = cell2mat(strutturaProprietaPzt(idx, 3));"
- "T = table(nomi, dist, 'VariableNames', {'Materiali più probabili', 'Distanza Euclidea Standardizzata'});"
- "T.('Materiali più probabili') = categorical(T.('Materiali più probabili'));"