- "z1 = 400;"
- "zB = 7e+06;"
- "z_piezo = rho * v;"
- "z_load = 1.5e+06;"
- "z2 = z_load;"
- "Zel = 1e+06;"
- "Z1 = areaFaccia*z1;"
- "ZB = areaFaccia*zB;"
- "ZoD = areaFaccia * z_piezo;"
- "Z2 = areaFaccia*z2;"
- "A = calcolaMatriceA(ZoD, omega, v, l, h33, C0);"
- "B_without_backing = calcolaMatriceB(A, Z1);"
- "B_with_backing = calcolaMatriceB(A, ZB);"
- "[Zin_without_backing, FTT_without_backing, FTR_without_backing] = calcolaFunzioniDiTrasferimento(B_without_backing, Z2, Zel);"
- "[Zin_with_backing, FTT_with_backing, FTR_with_backing] = calcolaFunzioniDiTrasferimento(B_with_backing, Z2, Zel);"
# grafici
- "z_plate = (2 * (z_load^2) * z_piezo ) ^ (1/3);"
- "rho_plate = 1850; % Kg/m^3"
- "v_plate = z_plate/rho_plate; % Ricavata invertendo la formula dell'impedenza acustica specifica del materiale"
- "ZoP = areaFaccia * z_plate;"
- "[~, index] = max(FTT_without_backing{1});"
- "f0 = f(index);"
- "lambda_plate = v_plate / f0;"
- "l_plate = lambda_plate / 4;"
- "k_plate = omega ./ v_plate;"
- "M = calcolaMatriceM(ZoP, k_plate, l_plate);"
- "Zeq = M{1,1} - ( (M{1,2} .^ 2) ./ (Z2 + M{1,1}) );"
- "[Zin_without_backing_with_plate, FTT_without_backing_pzt, ~]   = calcolaFunzioniDiTrasferimento(B_without_backing, Zeq, Zel);"
- "[Zin_with_backing_with_plate, FTT_with_backing_pzt, ~] = calcolaFunzioniDiTrasferimento(B_with_backing, Zeq, Zel);"
- "FTT_without_backing_pzt = db2mag(FTT_without_backing_pzt{1}) .* exp(1j*deg2rad(FTT_without_backing_pzt{2}));"
- "FTT_with_backing_pzt = db2mag(FTT_with_backing_pzt{1}) .* exp(1j*deg2rad(FTT_with_backing_pzt{2}));"
- "FTT_plate = ( M{1,2} .* Z2 ) ./ ( M{1,1}.*Z2 + M{1,1}.^2 - M{1,2}.^2);"
- "FTT_without_backing_with_plate = FTT_without_backing_pzt .* FTT_plate;"
- "FTT_with_backing_with_plate = FTT_with_backing_pzt .* FTT_plate;"
- "[moduloFTT_without_backing_with_plate, faseFTT_without_backing_with_plate] = calcolaModuloEFase(FTT_without_backing_with_plate, true, true);"
- "FTT_without_backing_with_plate = {moduloFTT_without_backing_with_plate, faseFTT_without_backing_with_plate};"
- "[moduloFTT_with_backing_with_plate, faseFTT_with_backing_with_plate] = calcolaModuloEFase(FTT_with_backing_with_plate, true, true);"
- "FTT_with_backing_with_plate = {moduloFTT_with_backing_with_plate, faseFTT_with_backing_with_plate};"
- "l_plate_scaled = l_plate * 1e+03;"
- "l_plate_scaled = round(l_plate_scaled, 2);"
# grafici
- "A_max_without_backing_without_plate = max(FTT_without_backing{1});"
- "A_max_with_backing_without_plate = max(FTT_with_backing{1});"
- "A_max_without_backing_with_plate = max(moduloFTT_without_backing_with_plate);"
- "A_max_with_backing_with_plate = max(moduloFTT_with_backing_with_plate);"
- "A_3dB_without_backing_without_plate = A_max_without_backing_without_plate - 3;"
- "A_6dB_without_backing_without_plate = A_max_without_backing_without_plate - 6;"
- "A_3dB_with_backing_without_plate = A_max_with_backing_without_plate - 3;"
- "A_6dB_with_backing_without_plate = A_max_with_backing_without_plate - 6;"
- "A_3dB_without_backing_with_plate = A_max_without_backing_with_plate - 3;"
- "A_6dB_without_backing_with_plate = A_max_without_backing_with_plate - 6;"
- "A_3dB_with_backing_with_plate = A_max_with_backing_with_plate - 3;"
- "A_6dB_with_backing_with_plate = A_max_with_backing_with_plate - 6;"
- "indices_3db_without_backing_without_plate = find(FTT_without_backing{1} >= A_3dB_without_backing_without_plate);"
- "indices_6db_without_backing_without_plate = find(FTT_without_backing{1} >= A_6dB_without_backing_without_plate);"
- "indices_3db_with_backing_without_plate = find(FTT_with_backing{1} >= A_3dB_with_backing_without_plate);"
- "indices_6db_with_backing_without_plate = find(FTT_with_backing{1} >= A_6dB_with_backing_without_plate);"
- "indices_3db_without_backing_with_plate = find(moduloFTT_without_backing_with_plate >= A_3dB_without_backing_with_plate);"
- "indices_6db_without_backing_with_plate = find(moduloFTT_without_backing_with_plate >= A_6dB_without_backing_with_plate);"
- "indices_3db_with_backing_with_plate = find(moduloFTT_with_backing_with_plate >= A_3dB_with_backing_with_plate);"
- "indices_6db_with_backing_with_plate = find(moduloFTT_with_backing_with_plate >= A_6dB_with_backing_with_plate);"
- "fl_3dB_without_backing_without_plate = f(indices_3db_without_backing_without_plate(1));"
- "fh_3dB_without_backing_without_plate = f(indices_3db_without_backing_without_plate(end));"
- "fl_6dB_without_backing_without_plate = f(indices_6db_without_backing_without_plate(1));"
- "fh_6dB_without_backing_without_plate = f(indices_6db_without_backing_without_plate(end));"
- "fl_3dB_with_backing_without_plate = f(indices_3db_with_backing_without_plate(1));"
- "fh_3dB_with_backing_without_plate = f(indices_3db_with_backing_without_plate(end));"
- "fl_6dB_with_backing_without_plate = f(indices_6db_with_backing_without_plate(1));"
- "fh_6dB_with_backing_without_plate = f(indices_6db_with_backing_without_plate(end));"
- "fl_3dB_without_backing_with_plate = f(indices_3db_without_backing_with_plate(1));"
- "fh_3dB_without_backing_with_plate = f(indices_3db_without_backing_with_plate(end));"
- "fl_6dB_without_backing_with_plate = f(indices_6db_without_backing_with_plate(1));"
- "fh_6dB_without_backing_with_plate = f(indices_6db_without_backing_with_plate(end));"
- "fl_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(1));"
- "fh_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(end));"
- "fl_6dB_with_backing_with_plate = f(indices_6db_with_backing_with_plate(1));"
- "fh_6dB_with_backing_with_plate = f(indices_6db_with_backing_with_plate(end));"
- "fc_3dB_without_backing_without_plate = (fl_3dB_without_backing_without_plate + fh_3dB_without_backing_without_plate)/2;"
- "fc_6dB_without_backing_without_plate = (fl_6dB_without_backing_without_plate + fh_6dB_without_backing_without_plate)/2;"
- "fc_3dB_with_backing_without_plate = (fl_3dB_with_backing_without_plate + fh_3dB_with_backing_without_plate)/2;"
- "fc_6dB_with_backing_without_plate = (fl_6dB_with_backing_without_plate + fh_6dB_with_backing_without_plate)/2;"
- "fc_3dB_without_backing_with_plate = (fl_3dB_without_backing_with_plate + fh_3dB_without_backing_with_plate)/2;"
- "fc_6dB_without_backing_with_plate = (fl_6dB_without_backing_with_plate + fh_6dB_without_backing_with_plate)/2;"
- "fc_3dB_with_backing_with_plate = (fl_3dB_with_backing_with_plate + fh_3dB_with_backing_with_plate)/2;"
- "fc_6dB_with_backing_with_plate = (fl_6dB_with_backing_with_plate + fh_6dB_with_backing_with_plate)/2;"
- "FBW_3dB_without_backing_without_plate = ( (fh_3dB_without_backing_without_plate - fl_3dB_without_backing_without_plate) / fc_3dB_without_backing_without_plate ) * 100;"
- "FBW_6dB_without_backing_without_plate = ( (fh_6dB_without_backing_without_plate - fl_6dB_without_backing_without_plate) / fc_6dB_without_backing_without_plate ) * 100;"
- "FBW_3dB_with_backing_without_plate = ( (fh_3dB_with_backing_without_plate - fl_3dB_with_backing_without_plate) / fc_3dB_with_backing_without_plate ) * 100;"
- "FBW_6dB_with_backing_without_plate = ( (fh_6dB_with_backing_without_plate - fl_6dB_with_backing_without_plate) / fc_6dB_with_backing_without_plate ) * 100;"
- "FBW_3dB_without_backing_with_plate = ( (fh_3dB_without_backing_with_plate - fl_3dB_without_backing_with_plate) / fc_3dB_without_backing_with_plate ) * 100;"
- "FBW_6dB_without_backing_with_plate = ( (fh_6dB_without_backing_with_plate - fl_6dB_without_backing_with_plate) / fc_6dB_without_backing_with_plate ) * 100;"
- "FBW_3dB_with_backing_with_plate = ( (fh_3dB_with_backing_with_plate - fl_3dB_with_backing_with_plate) / fc_3dB_with_backing_with_plate ) * 100;"
- "FBW_3dB_with_backing_with_plate_cached = FBW_3dB_with_backing_with_plate;"
- "FBW_6dB_with_backing_with_plate = ( (fh_6dB_with_backing_with_plate - fl_6dB_with_backing_with_plate) / fc_6dB_with_backing_with_plate ) * 100;"
- "eps = 1e-06;"
- "l_plate_values = (0+eps):1e-06:((lambda_plate/2) - eps);"
- "FBW_max = 0;"
- "l_plate_best = 0;"
- "l_plate_best_previous = l_plate;"
- "for i = 1 : length(l_plate_values); l_plate = l_plate_values(i); M = calcolaMatriceM(ZoP, k_plate, l_plate); Zeq = M{1,1} - ( (M{1,2} .^ 2) ./ (Z2 + M{1,1}) ); [~, FTT_with_backing_pzt, ~] = calcolaFunzioniDiTrasferimento(B_with_backing, Zeq, Zel); FTT_with_backing_pzt = db2mag(FTT_with_backing_pzt{1}) .* exp(1j*deg2rad(FTT_with_backing_pzt{2})); FTT_plate = ( M{1,2} .* Z2 ) ./ ( M{1,1}.*Z2 + M{1,1}.^2 - M{1,2}.^2); FTT_with_backing_with_plate = FTT_with_backing_pzt .* FTT_plate; [moduloFTT_with_backing_with_plate, ~] = calcolaModuloEFase(FTT_with_backing_with_plate, true, true); A_max_with_backing_with_plate = max(moduloFTT_with_backing_with_plate); A_3dB_with_backing_with_plate = A_max_with_backing_with_plate - 3; indices_3db_with_backing_with_plate = find(moduloFTT_with_backing_with_plate >= A_3dB_with_backing_with_plate); fl_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(1)); fh_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(end)); fc_3dB_with_backing_with_plate = (fl_3dB_with_backing_with_plate + fh_3dB_with_backing_with_plate)/2; FBW_3dB_with_backing_with_plate = ( (fh_3dB_with_backing_with_plate - fl_3dB_with_backing_with_plate) / fc_3dB_with_backing_with_plate ) * 100; if (FBW_3dB_with_backing_with_plate > FBW_max); FBW_max = FBW_3dB_with_backing_with_plate; l_plate_best = l_plate; end; end"
- "l_plate_best_previous_scaled = l_plate_best_previous * 1e03;"
- "l_plate_best_scaled = l_plate_best * 1e03;"
- "l_plate = l_plate_best;"
- "M = calcolaMatriceM(ZoP, k_plate, l_plate);"
- "Zeq = M{1,1} - ( (M{1,2} .^ 2) ./ (Z2 + M{1,1}) );"
- "[Zin_with_backing_with_plate, FTT_with_backing_pzt, ~] = calcolaFunzioniDiTrasferimento(B_with_backing, Zeq, Zel);"
- "FTT_with_backing_pzt = db2mag(FTT_with_backing_pzt{1}) .* exp(1j*deg2rad(FTT_with_backing_pzt{2}));"
- "FTT_plate = ( M{1,2} .* Z2 ) ./ ( M{1,1}.*Z2 + M{1,1}.^2 - M{1,2}.^2);"
- "FTT_with_backing_with_plate = FTT_with_backing_pzt .* FTT_plate;"
- "[moduloFTT_with_backing_with_plate, faseFTT_with_backing_with_plate] = calcolaModuloEFase(FTT_with_backing_with_plate, true, true);"
- "FTT_with_backing_with_plate = {moduloFTT_with_backing_with_plate, faseFTT_with_backing_with_plate};"
- "l_plate_scaled = l_plate * 1e+03;"
- "l_plate_scaled = round(l_plate_scaled, 2);"
#grafici
- "A_max_with_backing_with_plate = max(moduloFTT_with_backing_with_plate);"
- "A_3dB_with_backing_with_plate = A_max_with_backing_with_plate - 3;"
- "A_6dB_with_backing_with_plate = A_max_with_backing_with_plate - 6;"
- "indices_3db_with_backing_with_plate = find(moduloFTT_with_backing_with_plate >= A_3dB_with_backing_with_plate);"
- "indices_6db_with_backing_with_plate = find(moduloFTT_with_backing_with_plate >= A_6dB_with_backing_with_plate);"
- "fl_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(1));"
- "fh_3dB_with_backing_with_plate = f(indices_3db_with_backing_with_plate(end));"
- "fl_6dB_with_backing_with_plate = f(indices_6db_with_backing_with_plate(1));"
- "fh_6dB_with_backing_with_plate = f(indices_6db_with_backing_with_plate(end));"
- "fc_3dB_with_backing_with_plate = (fl_3dB_with_backing_with_plate + fh_3dB_with_backing_with_plate)/2;"
- "fc_6dB_with_backing_with_plate = (fl_6dB_with_backing_with_plate + fh_6dB_with_backing_with_plate)/2;"
- "FBW_3dB_with_backing_with_plate_optimized = ( (fh_3dB_with_backing_with_plate - fl_3dB_with_backing_with_plate) / fc_3dB_with_backing_with_plate ) * 100;"
- "FBW_6dB_with_backing_with_plate_optimized = ( (fh_6dB_with_backing_with_plate - fl_6dB_with_backing_with_plate) / fc_6dB_with_backing_with_plate ) * 100;"