- "ZoD = areaFaccia * v * rho;"
- "Zel = 1E+06; %1MOhm"
- "selezioneZ1 = obj.App.TabController.getTab('ImpedenzeTab').getComponent('MenuZ1').Value"
- "selezioneZ2 = obj.App.TabController.getTab('ImpedenzeTab').getComponent('MenuZ2').Value"
- "keyMap = caricaStrutturaImpedenzeAcustiche();"
- "z1 = keyMap(string(selezioneZ1));"
- "z2 = keyMap(string(selezioneZ2));"
- "Z1 = areaFaccia * z1;"
- "Z2 = areaFaccia * z2;"
- "A = calcolaMatriceA(ZoD, omega, v, l, h33, C0);"
- "B_side1 = calcolaMatriceB(A, Z2);"
- "B_side2 = calcolaMatriceB(A, Z1);"
- "[Zin_side1, FTT_side1, FTR_side1] = calcolaFunzioniDiTrasferimento(B_side1, Z1, Zel);"
- "[Zin_side2, FTT_side2, FTR_side2] = calcolaFunzioniDiTrasferimento(B_side2, Z2, Zel);"
- 'if(Z1 == Z2) var_z = "Impedance"; var_FTT = "TTF"; var_FTR = "RTF"; else var_z = "Impedance"; var_FTT = "TTF Comparing"; var_FTR = "RTF Comparing"; end'
- "index_min = (Zin_side1{1} == min(Zin_side1{1}));"
- "index_max = (Zin_side1{1} == max(Zin_side1{1}));"
- "fmin = f(1,index_min);"
- "fmax = f(1,index_max);"
- "Keff_custom = ((fmax^2) - (fmin^2))/(fmax^2);"
#
# Esercizio su mezzi standard
#
- "z1_aria = 414.5;"
- "z2_aria = 414.5;"
- "Z1_aria = areaFaccia * z1_aria;"
- "Z2_aria = areaFaccia * z2_aria;"
- "B_side1_aria = calcolaMatriceB(A, Z2_aria);"
- "[Zin_side1_aria, FTT_side1_aria, FTR_side1_aria] = calcolaFunzioniDiTrasferimento(B_side1_aria, Z1_aria, Zel);"
- "z1_acqua = 1479036;"
- "z2_acqua = 1479036;"
- "Z1_acqua = areaFaccia * z1_acqua;"
- "Z2_acqua = areaFaccia * z2_acqua;"
- "B_side1_acqua = calcolaMatriceB(A, Z2_acqua);"
- "[Zin_side1_acqua, FTT_side1_acqua, FTR_side1_acqua] = calcolaFunzioniDiTrasferimento(B_side1_acqua, Z1_acqua, Zel);"
- "index_min = (Zin_side1_aria{1} == min(Zin_side1_aria{1}));"
- "index_max = (Zin_side1_aria{1} == max(Zin_side1_aria{1}));"
- "fmin = f(1,index_min);"
- "fmax = f(1,index_max);"
- "Keff_aria = ((fmax^2) - (fmin^2))/(fmax^2);"
- "index_min = (Zin_side1_acqua{1} == min(Zin_side1_acqua{1}));"
- "index_max = (Zin_side1_acqua{1} == max(Zin_side1_acqua{1}));"
- "fmin = f(1,index_min);"
- "fmax = f(1,index_max);"
- "Keff_acqua = ((fmax^2) - (fmin^2))/(fmax^2);"
- "if (mezziStandard) Keff = ['\tAria: $K_{eff}^2 = ', num2str(Keff_aria), '$\n\tAcqua: $K_{eff}^2 = ', num2str(Keff_acqua), '$']; else Keff = ['$K_{eff}^2 = ', num2str(Keff_custom), '$']; end"